# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# documents
*.pdf
*.doc
*.odt

# raw binary data files
*.data

# channelId config files
#*.000
#calibration files
*.002
*.003
# text files || content
#*.txt
content

# ignore directories
build*/*
docs/*
!docs/html/
!docs/Doxyfile
misc/buaa_2018
misc/C16_June_cali_scriplet
misc/ExpLog
misc/expSettings
misc/ref
misc/results
misc/trash
misc/recycler
misc/**/*.00*
misc/**/*.zip
misc/**/*.root
!misc/**.jpg
!misc/**.pdf
!build*/*.sh
!build*/*.C
!build*/PID/
build*/PID/**/*.root
data/*
!data/example/
!config/
config/**/*.000
Lab/
anaG4SimBuild/*
!build1/WithTA_2020_0314/
build1/WithTA_2020_0314/**/*.root
